.img-hover-zoom {
  transition: transform 0.3s ease;
}

.img-hover-zoom:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.same-height {
  height: 300px;
  object-fit: cover;
}

.carousel-item img {
  max-height: 80vh;
  object-fit: contain;
}
